/**
Header line
 */
.navbar-static-top .dropbtn{
    padding: 14px 19px;
}
.header__title{
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0;
}
.header__searchBlock{
    margin: 0 auto;
    position: relative;
}

.header__search{
    /*border: 1px solid red!important;*/
    border-bottom: 1px solid #ccc!important;
    border-top: 1px solid #ccc!important;
    border-left: 1px solid #ccc!important;
    border-right: none!important;
}

.mysearchbar{
    width: 50%;
    margin: 0 auto;
}
.mysearchbar .easy-autocomplete input{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    z-index: 2;
}
.mysearchbar .easy-autocomplete .easy-autocomplete-container{
    margin-top: 0px;
    position: relative;
    z-index: 1;
}

.mysearchbar  .easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: white;
    border-image: none;
    border-style: solid;
    border-width: 0;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 12px;
    margin-bottom: 10px;
}
.mysearchbar .easy-autocomplete-container ul{
    background: none repeat scroll 0 0 #ffffff;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -19px;
    padding-top: 25px;
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.header__search{
    width: 90%;
    border: 0;
    border-top-left-radius: 50px;
    height: 40px;
    position: relative;
    z-index: 1;
    outline: none;
    padding-left: 20px;
    border-bottom-left-radius: 50px;
}
.header__searchButton{
    height: 40px;
    border: 0;
    border-right: 50px;
    position: absolute;
    background: #3ebeb8;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    color: #fff;
    font-weight: bold;
    /*font-size: 15px;*/
    /*padding: 0 14px 0 15px;*/
    padding-right: 10px;
    text-transform: uppercase;
    /*width: 10%;*/
    outline: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.mysearchbar-search-input{
    padding-bottom: 12px;
}
.header__searchButton:hover{
    background: #20b6af;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.header__searchBlock ul{
    padding: 0;
    text-align: left;
    list-style: none;
    width: 100%;
}
.header__searchBlock ul li{
    background: #fff;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: 1px solid  #e7eaec;
    border-radius: 4px;
}
.header__searchBlock ul li div:nth-child(2){
    word-break: break-all;
    font-size: 16px;
}
.header__searchBlock ul li div:nth-child(3){
    padding-top: 10px;
    font-size: 16px;
}
.header__searchBlock ul li a{
    font-size: 18px;
}
#load .modal-1 .active a{
    border-color: #38b6af;
    background: #38b6af;
    color: #fff;
}
.header__statistics{
    font-size: 15px;
    padding: 0 0;
}
.header__statistics > span{
    padding-right: 20px;
}
.pagination > li{
    padding: 0!important;
    margin:0!important;
}
.header__facebook-link{
    /*margin-top: 8px;*/
    /*float: none;*/
    /*position: absolute;*/
    /*left: 45%;*/
    /*top: 18px;*/
    margin: auto
}

.navabr-profile-block-text{
    display: block;
}
.navabr-profile-text{
    font-size: 12px;
}
.navbar-hamburger{
    /*margin-top: 14px;*/
    /*padding-top: 14px;*/
}

.container-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    max-width:180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.popular-search h3{
    border-top: 1px solid #eeeeee;
    padding-bottom: 10px;
    padding-top: 20px;
}
.tags-link{
    border: 1px solid #e7eaec;
    background: #fff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #676a6c;
    cursor: pointer;
    margin-bottom: 6px;
    border-radius: 30px;
}
.tags-link:hover{
    text-decoration: none;
    color: #676a6c;
    border: 1px solid #b1c0da;
    background: #eef4ff;
}
.popular-search a:hover{
    text-decoration: none;
}
.tag-link-all .tags-link{
    background: #3ebeb8;
    color: #fff;
    margin-right: 30px;
}
#tags-link li {
    background: #fff;
    padding: 20px 20px;
    margin: 20px 0;
    list-style: none;
}
#tags-link li a{
    font-size: 18px;
}
#tags-link li div:nth-child(2) {
    color: #3ebeb8;
    word-break: break-all;
}
#tags-link li div:nth-child(3) {
    padding-top: 10px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.domains-tag-link{
    font-size: 14px!important;
    font-style: normal
}
.easy-autocomplete{
    width: 90% !important;
    display: inline-block;
}
.easy-autocomplete input{
    width: 100% !important;
}
.easy-autocomplete-container ul li b{
    color: #000;
}
/**
Home search select type
 */
.mysearchbar fieldset{
    text-align: center;
}
.mysearchbar fieldset label{
    margin: 10px;
}

ul#resSearch li {
    background: #fff;
    padding: 5px 20px;
    margin: 7px 0;
    cursor: pointer;
    color: #1c88d7;
}
ul#resSearch li:hover{
    background-color: #eaeaea;
}
ul#resSearch {
    display: none;
    padding: 0;
    text-align: left;
    list-style: none;
    position: absolute;
    width: 100%;
    background: #fff;
    top: 10px;
    left: 17px;
    box-shadow: 3px 3px 6px -5px #000;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #2f9d98!important;
    background: #3ebeb8!important;
}
/*.ui-icon-background, .ui-state-active .ui-icon-background {*/
    /*border: #16746f!important;*/
    /*background-color: #16746f!important;*/
/*}*/
.ui-icon-background, .ui-state-active .ui-icon-background {
    border: #16746f!important;
    background-color: #ffffff;
}
.home__allTags{
    margin: 50px 0 0;
}
.home__allTags a{
    background: #3ebeb8;
    font-size: 14px;
    padding: 12px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.home__allTags a:hover{
    text-decoration: none;
}

.links-tags-title{
    border: 1px solid #e7eaec;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.links-titles-box{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
}

.linkTags a:hover, .linkTags a:focus{
    text-decoration: none;
}

.linkTags span{
    border: 1px solid #e7eaec;
    background: #fff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #676a6c;
    cursor: pointer;
    margin-bottom: 6px;
}
footer{
    text-align: center;
    background: #fff;
    padding: 17px 0;
    margin-top: 50px;
}

/* Home fresh content*/
.list-group-fresh-content{
    padding-top: 10px;
}
.list-group-fresh-content .list-group-item{
    margin-bottom: 15px;
    border-radius: 4px;
}

.list-group-fresh-content .fresh-content-img{
    max-height: 150px;
    max-width: 90%;
}
.list-group-fresh-content .list-group-item-row{
    display: flex;
    align-items: center;
}
.list-group-fresh-content .fresh-content-dates{
    margin-top: 10px;
}
.list-group-fresh-content .fresh-content-des{
    padding-top: 10px;
    font-size: 16px;
}

/**
Domains page start
 */
.domains .header__searchBlock{
    width: 59%;
    display: inline-flex;
}
.domains .header__searchBlock ul{
    margin: 0;
}
.domains .header__searchBlock ul li{
    margin: 0 0 20px;
}
.domains .colums-right {
    width: 40%;
}
#resSearch .selected{
    background-color: #eaeaea;
}

.domain-preview{
    display: flex;
}

.domain-preview-image,
.domain-preview-desc{
    display: inline-block;
}

.channel-box{
    margin-bottom: 20px;
    display: flex;
}

.domain-preview-image{
    background: #c9c9c9;
    text-align: center;
    user-select: none;
}
.domain-preview-image-img{
    background-color: white;
    border-radius: 4px;
}
.domain-preview-image h1{
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    margin: 0;
    font-size: 130px;
    font-weight: bold;
    padding: 5px 0 0px;
    text-transform: capitalize;
    width: 150px;
}
.domain-preview-image h1:hover{
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2), 2px 0px 3px rgba(68, 68, 68, 0.7);
    color: #a7a5a5;
}
.domain-preview-desc{
    width: 100%;
    margin-left: 15px;
}
.domain-preview-desc .domain-preview-desc-name {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    padding-bottom: 5px;
    padding-top: 10px;
}
.domain-preview-desc .domain-preview-desc-chanel{
    border-bottom: 1px solid #d0d0d0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    line-height: 10px;
    padding-bottom: 15px;
    opacity: 0.7;
}

.domain-preview-desc .domain-preview-desc-pages-search{
    padding: 10px 0 5px 0;
}

.domain-preview-desc .domain-preview-desc-pages-search:before{
    content: '';
    background: #3ebeb8;
    padding: 0 7px;
    border-radius: 4px;
    margin-right: 6px;
}
.domain-preview-desc .domain-preview-desc-found{
    padding-bottom: 5px;
}
.domain-preview-desc .domain-preview-desc-found:before{
    content: '';
    background: #d9d8e0;
    padding: 0 7px;
    border-radius: 4px;
    margin-right: 6px;
}

.domain-preview-desc .domain-preview-desc-viewed:before{
    content: '';
    background: #d9d8e0;
    padding: 0 7px;
    border-radius: 4px;
    margin-right: 6px;
}

.domain-preview-desc .domain-preview-desc-pages-search,
.domain-preview-desc .domain-preview-desc-found,
.domain-preview-desc .domain-preview-desc-viewed{
    font-size: 12px;
}
.domain-description{

}
.domain-similar-channels{
    border: 1px solid #e7eaec;
    border-radius: 4px;
    background: white;
    padding: 10px 18px;
}

.domains-image img{
    width: 100%;
}


.offerTags{
    margin: 10px 0;
}
.d-block{
    display: block!important;
}
.title-for-block{
    background: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.similar-channels-title{
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
}
.similar-channels{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px;
    flex-wrap: wrap;
}
.similar-channels-link{
    font-weight: 600;
    padding: 0 5px;
}

.domains-channel-btns{
    margin-top: 15px;
}

.channel-box-data{
    border: 1px solid #e7eaec;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 15px;
}

.btn-facebook-box{
    padding-right: 7.5px;
}
.btn-added-tag-box{
    padding-left: 7.5px;
}

.domain-description-box{
    border: 1px solid #e7eaec;
    border-radius: 4px;
    background: white;
    padding: 15px;
    margin-left: 15px;
}
.domain-description-desc{
    margin-bottom: 15px;
}
.btn-facebook{
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.btn-facebook:hover{
    background-color: #688ede;
    border-color: #688ede;
    color: #fff;
}
/*modal start*/
.modal-block-center{
    margin: 0 auto;
    float: none;
}
/*modal end*/
.nav-tabs li a{
    border: 2px solid #dee2e6;
    padding: 3px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #a9a6a6;
    font-weight: bold;
}
.nav-tabs li a.active{
    border: 2px solid #b7b7b7;
    color: #6d6d6d;
}
.nav-tabs li a:hover{
    text-decoration: none;
}
/*Page tags start*/
.pageTags__links-block{
 margin-top: 6px;
}
.pageTags .popular-search{
    padding-top: 40px;
}
/*Page tags end*/
/*Page organizer start*/
.organizerEvents__app {
    background: url(/images/fb.png) right no-repeat;
    background-size: 14%;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 25px;
    margin-bottom: 20px;
}
/*Page organizer end*/
/*Page feeds start*/
.images_popup img{
    width: 100%;
}
.no-content{
    opacity: 0.4;
}

.feed-title{
    color: #636b6f;
    font-size: 18px;
}
.feed-url-on-original{
    font-size: 14px!important;
}

.feed-url-on-original:hover{
    text-decoration: underline;
}
/*Page feeds end*/



.socialite-btn-box{
    padding-top: 5px
}
.go__google{
    background: #ea4335;
    color: #fff;
    border-radius: 5px;
    padding: 12px 10px 7px 10px;
}

.go__google i{
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    font-size: 20px;
    padding: 7px 8px 7px 0;
}

.go__google .google-text{
    padding-left: 5px;
    display: inline-block;
    vertical-align: 3px;
}

.go__google:hover{
    background: #d93123;
    color: #fff;
    text-decoration: none;
}

.go__facebook{
    background: #4267b2;
    color: #fff;
    border-radius: 5px;
    padding: 12px 10px 7px 10px;
}
.go__facebook i{
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    font-size: 28px;
    padding: 3px 8px 3px 0;
    vertical-align: -3px;
}
.go__facebook .facebook-text{
    padding-left: 5px;
    display: inline-block;
    vertical-align: 3px;
}

.go__facebook:hover{
    background: #365899;
    color: #fff;
    text-decoration: none;
}

.nav-login:hover{
    background-color: #e2e2e2;
}
.nav-login:focus{
    outline: none;
}

.closeMe{
    margin-left: 4px;
}

/*Modal login start*/
#login-with-social .modal-content{
    border-radius: 4px;
    box-shadow: none;
}

#login-with-social .close{
    font-size: 26px;
}

#login-with-social .modal-header{
    border: 0;
    padding: 15px 15px 0 0;
}

#login-with-social .modal-body{
    padding: 0;
}
#login-with-social .modal-body .modal-auth-title{
    font-size: 25px;
    color: #3ebeb8;
    margin-bottom: 35px;
}
.modal-google, .modal-facebook{
    color: #fff;
    margin-bottom: 20px;
}

.modal-facebook{
    background-color: #4267b2;
}
.modal-facebook:hover{
    background-color: #365899;
    color: #fff;
}
.modal-facebook:focus{
    background-color: #365899;
    color: #fff;
}

.modal-google{
    background-color: #ea4335;

}
.modal-google:hover{
    background-color: #d93123;
    color: #fff;
}

/*Modal login end*/


/*Page organizer start*/
.box-radio-filter{
    margin-bottom: 10px;
}
.label-radio-filter{
    font-weight: 400;
    vertical-align: middle;
}
.radio-filter{
    margin-right: 5px!important;
}
.organizer-name{
    font-size: 16px;
    font-weight: 600;
}
.organizer-favicon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.organizer-link{
    color: #6c757d;
}
.like-box .panel{
    margin-bottom: 0;
}
.organizer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.like-box .panel:hover{
    border: 1px solid #ff6600;
}
.like-box .panel:hover .empty-heart-icon, .rating-box .panel:hover .caret-icon{
    color: #ff6600;
}

.like-box .filled-heart-icon{
    color: #ff6600;
}

.organizer-link{
    color: #3ebeb8;
    display: block;
    margin-bottom: 10px;
}
.organizer-name{
    margin-bottom: 0;
}

.list-domains-item a{
    text-decoration: none;
}

/*modal*/
#modal-when-like-organizer{
    padding-right: 0;
}
#modal-when-like-organizer .modal-footer{
    padding-bottom: 0;
}
#modal-when-like-organizer .modal-content{
    border-radius: 4px;
}

#modal-when-like-organizer .modal-header{
    border-bottom: 0px solid #e5e5e5;
}

#modal-when-like-organizer .modal-footer{
    border-top: 0px solid #e5e5e5;
}


/* Subscribe */
.organizers-subscribe-box,
.channel-subscribe-box{
    margin-bottom: 5px;
}

.organizers-subscribe-box button,
.channel-subscribe-box button{
    background-color: #f5f8fa;
}
.organizers-subscribe-box .organizer-bookmark-subscribe,
.channel-subscribe-box .channel-bookmark-subscribe{
    padding-right: 5px;
}
.organizers-subscribe-box .organizer-caret-subscribe,
.channel-subscribe-box .channel-caret-subscribe{
    margin-left: 1px!important;
}
.organizers-subscribe-box .organizer-ellipsis-subscribe,
.channel-subscribe-box .channel-ellipsis-subscribe{
    padding: 0 2px;
}
.organizers-subscribe-box .organizer-subscribe-dropdown li,
.channel-subscribe-box .channel-subscribe-dropdown li{
    font-size: 12px;
}
.organizers-subscribe-box .organizer-subscribe-dropdown,
.channel-subscribe-box .channel-subscribe-dropdown{
    margin: 8px 0 0;
}
.organizers-subscribe-box .organizer-bookmark-subscribe-saved,
.channel-subscribe-box .channel-bookmark-subscribe-saved{
    color: #3097d1;
}

.organizers-subscribe-box .organizer-subscribe-dropdown:before,
.channel-subscribe-box .channel-subscribe-dropdown:before{
    content: '';
    position: absolute;
    left: 15px;
    top: -5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: -1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
}

.organizers-subscribe-box .organizer-subscribe-dropdown:after,
.channel-subscribe-box .channel-subscribe-dropdown:after{
    content: "";
    left: 10px;
    top: 0;
    width: 21px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    z-index: -1;
}

.organizers-subscribe-box .organizer-btn-unsave,
.organizers-subscribe-box .organizer-unsubscribe,
.organizers-subscribe-box .organizer-subscribe,
.channel-subscribe-box .channel-btn-unsave,
.channel-subscribe-box .channel-unsubscribe,
.channel-subscribe-box .channel-subscribe{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.6;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
}
.organizers-subscribe-box .organizer-btn-unsave:hover,
.organizers-subscribe-box .organizer-unsubscribe:hover,
.channel-subscribe-box .channel-btn-unsave:hover,
.channel-subscribe-box .channel-unsubscribe:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.anytime-sort-type-box{
    margin-left: 30px;
    margin-top: -10px;
}

.anytime-sort-type-box label{
    font-style: italic;
    font-size: 12px;
    color: rgba(99, 107, 111, 0.81);
}
.anytime-sort-type-box .box-radio-filter{
    margin-bottom: 0;
}

.organizer-filters-main-block,
.channels-filters-main-block{
    border-radius: 4px 4px 0 0;
}
.organizer-lists-sort-box,
.channels-lists-sort-box{
    padding-right: 0;
    padding-top: 15px;
}
.organizer-sort-with-date,
.channels-sort-with-date{
    margin-bottom: 15px;
    border-bottom: 1px solid #d3e0e9;
}
.organizer-sort-with-date-badge,
.channels-sort-with-date-badge{
    background-color: #ff6600;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 13px;
    vertical-align: text-bottom;
    font-weight: 600;
}
.organizer-sort-with-date-all,
.channels-sort-with-date-all{
    margin-top: 11px;
}
.organizer-sort-with-date-all-link,
.channels-sort-with-date-all-link{
    color: #636b6f!important;
}
.organizer-sort-list-item,
.channels-sort-list-item{
    padding-bottom: 20px;
    width: 100%;
}
.organizer-sort-list-item a,
.channels-sort-list-item a{
    text-decoration: none;
}
.organizer-sort-by-date-active,
.channels-sort-by-date-active{
    border-bottom: 3px solid #3097d1;
    padding-bottom: 18px;
    margin-bottom: -2px;
}
.organizer-sort-list-item:hover,
.channels-sort-list-item:hover{
    border-bottom: 3px solid #3097d1;
    padding-bottom: 18px;
    transition: 0.2s;
    margin-bottom: -2px;
}

.organizer-sort-with-other,
.channels-sort-with-other{
    border-bottom: 1px solid #d3e0e9;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.organizer-sort-other-list-item,
.channels-sort-other-list-item{
    padding-left: 0!important;
}
.organizer-sort-other-list-item span,
.channels-sort-other-list-item span{
    cursor: pointer;
}
.organizer-sort-other-list-item span:hover,
.channels-sort-other-list-item span:hover{
    border-bottom: 3px solid #3097d1;
    padding-bottom: 16px;
    font-weight: 700;
    color: #3097d1!important;
    transition: top 1s ease-out 0.2s;
}

.organizer-sort-with-other-list a,
.channels-sort-with-other-list a{
    color: #636b6f;
    text-decoration: none;
}

.organizer-sort-other-active,
.channels-sort-other-active{
    border-bottom: 3px solid #3097d1;
    padding-bottom: 16px;
    font-weight: 700;
    color: #3097d1!important;
}

.organizers-categories,
.channels-categories{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    padding: 10px;
}
.organizers-categories-title, .organizers-categories-count,
.channels-categories-title, .channels-categories-count{
    color: #636b6f;
    font-size: 12px;
}
.organizers-categories-title,
.channels-categories-title{
    cursor: pointer;
}
.organizers-categories-title:hover, .organizers-categories-title-active,
.channels-categories-title:hover, .channels-categories-title-active{
    color: #000000;
    border-bottom: 1px solid #636b6f;
}
.organizers-categories-block,
.channels-categories-block{
    margin-bottom: 15px;
}
.organizer-sort-list-item-link,
.channels-sort-list-item-link{
    color: #3097D1;
    cursor: pointer;
}
.organizer-sort-list-item-link:hover, .organizer-sort-list-item-link:focus,
.channels-sort-list-item-link:hover, .channels-sort-list-item-link:focus{
    color: #216a94;
}
.organizer-sort-with-date-row,
.channels-sort-with-date-row{
    display: flex;
    justify-content: space-between;
}
.btn-facebook-organizer{
    background: #4d70d5;
    border-radius: 25px;
    padding: 3px 17px 0 17px;
    height: 29px;
    margin-top: 8px;
}
.btn-facebook-organizer:hover{
    background: #3097d1;
    transition: 0.3s;
}
.btn-facebook-organizer:hover .btn-facebook-organizer-icon{
    color: #3097d1;
    transition: 0.3s;
}
.btn-facebook-organizer-text{
    color: white;
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    padding-top: 3px;
    font-size: 11px;
    font-weight: 600;
}
.btn-facebook-organizer-icon{
    color: #4d70d5;
    padding: 7px 5px 0 10px;
    background: white;
    border-radius: 3px;
    font-size: 15px;
}
.organizer-body{
    margin-top: 10px;
}
.organizers-categories-main-title{
    margin-left: 10px;
}

/*Page organizer end*/



.add-site{
    width: 100%!important;
    padding-bottom: 10px;
}

.seo-texts-box{
    padding-top: 30px;
    margin-top: 50px;
}

.seo-text-title, .seo-text-description{
    padding: 15px;
    border: 1px solid #d3e0e9;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 15px;
}

@media (max-width: 1199px) {
    .organizer-lists-sort-box {
        padding-right: 15px;
    }
    .links-titles-box{
        display: none;
    }
    .channel-box{
        flex-direction: column;
    }
    .domain-description-box{
        margin-left: 0;
    }
    .channel-box-data{
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .organizer-sort-with-date-row{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .organizer-sort-list-item{
        width: 50%;
    }
}

@media (max-width: 778px) {
    .mysearchbar{
        width: 96%;
    }
    .organizer-sort-list-item{
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    .organizer-sort-list-item{
        font-size: 14px;
    }
    .panel-auth-google{
        margin-top: 80px;
    }
    .easy-autocomplete{
        width: 78% !important;
    }
    .header__statistics{
        /*padding: 70px 0 0;*/
    }
    .mainDomains >div:nth-child(2) {
        width: 62%;
    }
    .mainDomains >div:nth-child(2) > div:nth-child(3),
    .mainDomains >div:nth-child(2) > div:nth-child(4),
    .mainDomains >div:nth-child(2) > div:nth-child(5) {
        font-size: 10px;
    }
    .header__searchBlock, .domains .colums-right{
        width:100%!important;
    }
    .navbar-header{
        width: 50%;
        display: inline-block;
    }
    .dropdown {
        float: right;
    }
    .dropbtn{
        padding: 17px;
    }
    .navbar-static-top .dropbtn {
        margin-top: 3px;
    }
    .navbar-static-top{
        /*position: fixed;*/
        width: 100%;
        top: 0;
    }
    .navbar-static-top .dropdown:hover .dropdown-content {
        position: fixed;
        width: 100%;
        text-align: center;
    }
    #elasticScout{
        margin: 0 2%;
    }
    .header__statistics > span {
        display: block;
    }
    .header__searchBlock {
        width: 100%;
        margin: 0;
    }
    .header__search {
        width: 85%;
    }
    .header__searchButton{
        width: 15%;
        padding: 0 14px 0 5px;
    }
    #elasticScout .mysearchbar fieldset label:first-child{
        display: block;
    }
    .header__facebook-link{
        display: none;
    }
    .main-navbar-login{
        float: right;
    }

}
@media (max-width: 767px) {
    .organizer-sort-list-item{
        margin-bottom: 25px;
    }
    .organizer-sort-with-date{
        border-bottom: none;
        margin-bottom: 0;
    }
    .organizer-filters-main-block{
        padding-bottom: 0;
    }
    .btn-facebook-box{
        padding-right: 15px;
        margin-bottom: 10px;
    }
    .btn-added-tag-box{
        padding-left: 15px;
    }
    .similar-channels{
        margin-bottom: 0;
    }
}

@media (max-width: 639px) {
    .panel-heading{
        text-align: center;
    }
    .panel-auth-google{
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 500px) {
    .logo{
        max-width:120px;
        margin: 3px;
    }

    .header__search {
        width: 77%;
    }
    .header__searchButton {
        width: 20%;
        padding: 0 14px 0 5px;
    }
    .organizer-sort-with-date{
        padding-right: 0;
        padding-left: 0;
    }
    .domain-preview{
        flex-direction: column;
    }
    .domain-preview-image{
        background: transparent;
    }
    .domain-preview-desc{
        margin-left: 0;
    }
    .domain-preview-desc-name, .domain-preview-desc-chanel{
        text-align: center;
    }
}

@media (max-width: 434px) {
    .organizers-subscribe-box{
        display: flex;
    }
    .organizer .organizer-body{
        min-height: 90px;
    }
}

@media (max-width: 333px) {
    .organizers-subscribe-box .organizer-ellipsis-subscribe{
        padding: 0;
    }
    .organizers-subscribe-box .organizer-caret-subscribe{
        margin-left: 0!important;
    }
    .organizers-subscribe-box .organizer-bookmark-subscribe{
        padding-right: 0;
    }
}

@media (max-width: 319px) {
    .header__search {
        width: 50%;
    }
    .header__searchButton {
        width: 50%;
        padding: 0 14px 0 5px;
    }
}
.title-blok{
    display: contents;
    color: #2a2a2a;
}
.dataindex{
    color: #c1c1c1;
}
